*.db
*.mexmaci64
*.mexw32
*.mexa64
*.xcf
*.jpg
*.tif
*.tiff
*.png
*.asv
*~
*.swp
*.out
cpselect_database/run*
OD Detection - Chris/results*
Vessel\ Detection\ -\ Chris/results*
.DS_Store
.__*
*.classifier
*.psd
*.mat
*.dataset
*.subset
*.scale
*.range
*.remainder
*.a
*.o
*.exe
