*.db
*.mexmaci64
*.mexw32
*.xcf
*.jpg
*.tif
*.tiff
*.png
*.asv
*~
*.swp
*.out
cpselect_database/run*
.DS_Store
.__*
*.classifier
*.psd
*.mat
*.dataset
*.subset
*.scale
*.range
*.remainder
liblinear-1.94
